{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>email verification</title>
</head>
<body>
    {%for message in messages%}
       <div class="message {{message.tags}}">
            {{message}}
       </div>
    {% endfor %}
    <div class="center">
    {%if user.is_authenticated%}
       <P>welcome, {{user.username}}
    {%else%}
    <p>welcome,new user. please log in</p>
    <a href="{%url "sign-in%}">login</a>
    {%endif%}
    </div>
</body>
</html>
{%endblock%}