{%load static%}
<html lang="en" dir="ltr" data-nav-layout="vertical" data-vertical-style="overlay" data-theme-mode="light" data-header-styles="light" data-menu-styles="light" data-toggled="close">

<head>

    <!-- Meta Data -->
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MCDAVE Signup</title>
    <meta name="Description" content="Bootstrap Responsive Admin Web Dashboard HTML5 Template">
    <meta name="Author" content="Spruko Technologies Private Limited">
	<meta name="keywords" content="admin,admin dashboard,admin panel,admin template,bootstrap,clean,dashboard,flat,jquery,modern,responsive,premium admin templates,responsive admin,ui,ui kit.">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'assets/images/brand-logos/favicon.ico'%}" type="image/x-icon">

    <!-- Main Theme Js -->
    <script src="{% static 'assets/js/authentication-main.js'%}"></script>

    <!-- Bootstrap Css -->
    <link id="style" href="{% static 'assets/libs/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet" >

    <!-- Style Css -->
    <link href="{% static 'assets/css/styles.min.css'%}" rel="stylesheet" >

    <!-- Icons Css -->
    <link href="{% static 'assets/css/icons.min.css'%}" rel="stylesheet" >


</head>

<body>

    {%include 'partials/switcher.html'%}

    <div class="container-lg">
        <div class="row justify-content-center align-items-center authentication authentication-basic h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-6 col-sm-8 col-12">
                <div class="my-5 d-flex justify-content-center">
                    <a href="{%url "home"%}">
                        <img src="{% static 'assets/images/mcdave/logo.png'%}" alt="logo" class="desktop-logo">
                        <img src="{% static 'assets/images/mcdave/logo.png'%}" alt="logo" class="desktop-dark">
                    </a>
                </div>
                <div class="card custom-card">
                    <div class="card-body p-5">
                        <p class="h5 fw-semibold mb-2 text-center">Update User Info</p>
                        <p class="mb-4 text-muted op-7 fw-normal text-center">Update Your Info Here....</p>
                        <form method="POST"action="{% url 'update_info'%}"autocomplete="off">
                        <div class="row gy-3">
                            
                                {%csrf_token%}
                            <div class="col-xl-12">
                                {{form.as_p}}
                             </div>
                            <div class="col-xl-12 d-grid mt-2">
                                <button type="submit" class="btn btn-lg btn-primary">Update info</button>
                            </div>
                            </div>
                        </form>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Custom-Switcher JS -->
    <script src="{% static 'assets/js/custom-switcher.min.js'%}"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Show Password JS -->
    <script src="{% static 'assets/js/show-password.js'%}"></script>

</body>

</html>